.post-type-archive-photos,
.single-photos {
  // border-left: 4px solid #fc0;

  article {
    max-width: 38rem;
  }
  .page-header {
    display: none;
  }
  .site-main {
    margin-left: 16vw;
  }
}
